.placeToStay-navLinks ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.placeToStay-navLinks ul li {
  font-weight: 700;
  font-family: "Red Rose";
  font-style: normal;
  font-weight: 400;
  list-style: none;
  font-size: 20px;
  line-height: 25px;
  margin: 50px 0 25px 0;
}
.placeToStay-navLinks ul li:hover {
  color: #a02279;
}
.placeToStay-navLink {
  text-decoration: none;
  color: #434343;
}
.placeToStay-navLink:hover {
  text-decoration: none;
  color: #a02279;
}
.placeToStay-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 0;
  width: 156px;
  height: 48px;
  font-family: "Red Rose";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #333333;
  margin: 0 0 0 0;
}
.placeToStay-btn_img {
  width: 15px;
  height: 20px;
  color: #d7d7d7 !important;
}
.placeToStay-flex {
    display: flex;
    font-size: 14px;
    justify-content: space-between;
  }
  #placeToStay-text2{
      font-weight: 700;
  }
  .placeToStay-div {
    border: 1px solid #D7D7D7;
    width: 90%;
    height: 300px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
  }
  .placeToStay-div1{
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 10px;
  }
  .placeToStay-main_img{
      width: 100%;
      height: 80%;
      margin-bottom: 4px;
  }
  .placeToStay-div2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }
  .placeToStay-flex2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    animation-name: placeToStay;
    animation-duration: 1s;
    background: #F5F5F5;
  }
  @keyframes placeToStay {
    0% {
      opacity: 0;
      margin-top: 600px;
    }
    100% {
      opacity: 1;
      margin-top: 0;
    }
  }
    