.navbarWrapper {
  display: flex;
  align-items: center;
  padding: 10px 3%;
  background-color: #f5f5f5;
  position: sticky;
  top: 0;
  z-index: 1;
  left: 0;
}
.logo {
  height: 30px;
  width: 30px;
}
.logoText {
  height: 32.19252395629883px;
  width: 188.10281372070312px;
  margin-right: auto;
  margin-top: 15px;
}
#logoText1 {
  color: #dc3e88;
}
#logoText2 {
  color: #b840ae;
}
#logoText3 {
  color: #843fe8;
}
.navLinks {
  margin-right: auto;
}
.navLinksTexts {
  width: 57px;
  height: 25px;
  font-family: "Red Rose";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #434343;
  margin-right: 20px;
}
.menuIcon {
  display: none !important;
}
.connectWallet-btn {
  width: 117px;
  height: 30px;
  font-family: "Red Rose";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #a02279;
  border: 0;
  left: 86.29%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  border-radius: 10px;
  cursor: pointer;
}
.walletTitle {
  margin-right: auto;
}
.walletTop-flex {
  display: flex;
  align-items: center;
}
.walletPreferred {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  width: 536px;
  height: 68px;
  background: #f8f9fa;
  border: 1px solid #cfd8dc;
  border-radius: 12px;
  margin-bottom: 8px;
  cursor: pointer;
}
.walletPreferred h5 {
  margin-right: auto;
}
.walletArrow,
.walletCancel {
  color: #d7d7d7 !important;
  cursor: pointer;
}
.walletPreferred-img {
  width: 40px;
  height: 40px;
  margin-right: 3px;
}

/*Media Queries*/
@media screen and (max-width: 768px) {
  .navLinks {
    display: none;
    padding: 30px 10px;
  }
  .navLinksTexts {
    width: 300px;
    margin-right: 0;
    padding: 10px 5px;
  }
  .menuIcon {
    display: inline !important;
    margin-right: 12%;
    margin-left: 4%;
    width: 35px !important;
    height: 35px !important;
    color: #555555 !important;
  }
  .box{
    width: 300px !important;
  }
  .walletPreferred{
    width: 250px;
  }
}
@media screen and (max-width: 360px) {
  .connectWallet-btn {
    width: 85px;
    font-size: 12px;
  }
}
